$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// Override the default flatly brand colour
$brand-primary: #1C3144 !default;
$brand-success:         #AB86DE !default;
$brand-secondary: #AB86DE !default;
$brand-danger: $brand-primary !default;
$navbar-default-link-hover-color: #ccc !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
