.row.text-center.jumbotron
  .col-md-12
    h1 Boltly

.row.text-center.padding-20-0
  .col-md-12
    h1 The complete Socket.io test client.
    h2.lead Socket.io development never felt this awesome.

.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Get it now
      p
        em.lead or
      p
        a.btn.btn-info.primary-background-color.btn-sm(target="_blank" href="https://getboltly.com")
          | Learn more
